/*helpers*/
.nomargin{
	margin: 0px;
}

.nopadding{
	padding: 0px !important;
}
/**/
.over{
    overflow-y: scroll;
   height: 400px;
}
/*selecotres slider*/
.slider .indicators .indicator-item.active{
    background-color: #113073;
}
.slider .indicators .indicator-item{
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #818fb0;
    transition: background-color .3s;
    border-radius: 50%;
}
.slider .indicators{
    position: absolute;
    text-align: center;
    left: 500px;
    right: 0px;
    bottom: 56px;
    margin: 0;
    z-index: 2;
}

.contenido-cuevas{
    text-align: left;
    font-size: 1.2em;
}

.contenido-cuevas li{
    margin-left: 40px;
    color: #000;
}

.bold{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color:#242237;
	font-weight: bold;
}

.contenido-cuevas h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: #242237;
}

.img-cuevas{
    background-size: 100% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 400px;
    list-style: none;
    background-attachment: scroll !important;
}

.borde-cuevas{
    border:1px solid #000;
    margin-bottom: 20px;
    margin-top: -15px;
}

.ms-slide{
	width: 100%;
}
/*home*/

/*menu*/
.size-logo-menu-uno{}

.size-logo-menu-dos{}

.lista li{
    list-style-type: none;
    padding: 0px;
}
.menu-fixed{
    position:fixed;
    z-index:1000;
    top:0;
    width:100%;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
    background-color: #113073;
}

.telfono-contacto{
    text-decoration: none;
    color:#fff;
}

nav{
    background-color: transparent;
}

.menu-transparent li{
  line-height: 5px;
	text-transform: uppercase;
	padding: 0 10px;
}

.collapsible{
    margin: 0px;
}

.collapsible-header{
    border-bottom:21px solid #fff;
}

.menu-var{
	background-color: transparent;
	color: transparent;

}
.menu-var-divice{
	background-color: rgba(17,48,155, .7);
	width: 88%;
	border: solid 1px #fff;
}

.menu-var ul li {
    list-style-type: none;
}

.margin-sep{
    margin: 15px 15px;
    font-size: 20px;
}

.font-home{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-align: right;
}

.display-menu{
	display: inline-block;
	font-weight: bold;
	margin: 0 25px;
}

.separacion-menu{
    margin-left: 10px;
}

.logo-menu{
    width: 190px;
}

.logo-principal{
    width: 185px;
    margin: 8px 0 0 11px;
}

.collapse i{
    line-height: 2px;
}
/*fin*/

/*seccion 1 inicio*/
.fondo-home{
	/*background-image: url('images/home/fondo2.jpg');*/
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	height: 1009px;
}

.separacion-btn{
	margin: 10px 0;
	text-align: right;
}

.separacion-btn2{
	margin: 10px 0;
	text-align: left;
}
.margin-top{
	margin-top: 20px;
}

.title-home{
	font-family: 'Droid Serif', serif;
	font-size: 35px;
	font-style: italic;
	color: #fff;
	margin:0px;
}

.subtitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	font-weight: bold;
	color: #fff;
	margin: 0 0 35px 0px;
}

.margin-contenido{
	margin-top: 180px;
}

.btn-home{
	margin: 0 10px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-decoration: none;
    color: #fff;
    background-color: #113073;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    width: 140px;
    height: 41px;
    box-shadow: none;
}

.btn-home:hover{
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	border:2px solid #fff;
	font-weight: 500;
	text-decoration: none;
    color: #fff;
    background: transparent;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    width: 140px;
    height: 41px;
    box-shadow: none;
}

.icons-sociales{
    margin-top: 210px;
}

.icon-social-sep{
    font-size: 20px;
    margin: 0 25px;
}
/*fin*/

/*seccion 2 grupo cuevas*/
.title-dos{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 500;
	color:#242237;
}

.bold{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color:#242237;
	font-weight: bold;
}

.subrayado-cuavas{
	border-bottom: 2px solid #5c719f;
    padding: 0 0 8px 0;
}

.title-nuestra{
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	font-weight: 600;
	color: #242237;
}
.margin-cvas{
	margin-top: 50px;
}

.img-nu{
	width: 100%;
}

.info-secciondos{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color:#8f8a8d;
	text-align: left;
}

.info-secciondos span, li{
	font-weight: 800;
	color: #858083;
}

ul li{
	list-style-type: disc;
}

.margin-lista{
	margin-left: 55px;
}

.margin-nustra{
	margin-bottom: 30px;
}
/*fin*/

/*seccion 3 geotecnica*/
.active-geo {
    background-color:#112f73 !important;
    color :#fff;
}

.fondo-gris{
	background-color: #f4f4f4;
}

.title-tres{
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #242237;
	border-bottom: solid 2px #586d9b;
    width: 100%;
    text-align: center;
}

.margin-geo{
	margin-top: 20px;
}

.text-slider-derec{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: #b1b1b1;
	text-align: right;
	border: solid 1px #e3e3e3;
    line-height: 18px;
    height: 57px;
}

.text-slider-derec:hover{
	background-color: #112f73;
}

/**/
.slider .slides li .caption{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #113073;
    position: absolute;
    top: 87%;
    left: 0%;
    width: 100%;
    background-color: rgba(255,255,255,.7);
    padding-left: 6%;
		text-transform: uppercase;
}

.w3-container{
    padding: 0px;
}

.w3-animate-opacity{
    -webkit-animation:opac 0.8s;
    animation:opac 0.8s
}

@-webkit-keyframes opac{
    from{opacity:0}
    to{opacity:1}
}

@keyframes opac{
    from{opacity:0}
    to{opacity:1}
}
/*slider-device*/
.slider-fon{}
/**/

/*seccion 4 construccion*/
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    height: 64px;
   /* line-height: 0px;*/
}
.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 15px 3em 0px 1em;
    background-color: #fff;
}

.construccion-menu{
    width: 100%;
}

.sin-disc ul li{
	list-style: none;
    width: 100%;
}
.collapsible-header i {
    width: 1rem;
    line-height: 3rem;
    display: block;
    float: right;
    text-align: center;
    margin-right: 1rem;
}
.fondo-azul{
	background-color: #113073;
}

.title-cuatro{
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	border-bottom: solid 2px #9c1a45;
	font-weight: bold;
	color: #fff;
    width: 100%;
    text-align: center;
}

.margin-ct{
	margin-top: 20px;
}

.texto-sliderizquierdo-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #113073;
	text-transform: uppercase;
	text-align: left;
}

.texto-sliderizquierdo-title:hover{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #bc153a;
    text-transform: uppercase;
    text-align: left;
}

.content-slider-iz{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #cecece;
	text-transform: uppercase;
	background-color: #efefef;
	text-align: left;
}

.content-slider-iz:hover{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #113073;
	text-transform: uppercase;
	background-color: #efefef;
	text-align: left;
}
.collapsible-body p{
    margin: 0;
    padding: 1rem;
}

nav ul li {
    transition: background-color .3s;
    float: left;
}

.margen-menu-slider ul li{
    border-bottom: solid 1px #d0d0d0;
}

.scroll-slider{
  /* overflow-y: scroll !important;*/
   height: 400px !important;
}
/**/

/*seccion 5 obra civil*/
.fondo-blanco{
	background-color: #fff;
}

.title-cinco{
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #242237;
	border-bottom: solid 2px #c9415f;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.obra-select {
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #113073;
    border-radius: 2px;
    height: 3rem;
    color: #113073;
    font-weight: 500;
    margin: 30px;
}

.pading-select{
	padding: 0 85px !important;
}

.imagen-obra-civil{
	width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0 5px;
}

.size-slider{
    width: 150px;
    height: 120px;
    padding: 5px;
}

.slidermax-size  li img{
    width: 100%;
}

/*sliders*/
/*1*/
.tumbs-size{
    height: 60px;
    width: 73px;
}

/*seccion 6 referencias*/
/**hover*/
.producto {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
}

.producto .mask, .producto .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.producto img{
    display: block;
    position: relative;
}

.producto h2{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 30px;
    padding: 10px;
    margin: 15% 0 0 0;
    text-transform: uppercase;
}

.producto p{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: relative;
    color: #fff;
    padding: 0px 20px 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5%;
}

.producto a.info{
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}

.producto a.info:hover{
    box-shadow: 0 0 10px #000;
}

/* clases para el primer producto  */
.prod-first img{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.prod-first .mask{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(182, 37, 68, 0.8);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.prod-first h2{
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.prod-first p{
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.prod-first:hover img{
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.prod-first a.info{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }

.prod-first:hover .mask{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.prod-first:hover h2,
.prod-first:hover p,
.prod-first:hover a.info{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.prod-first:hover p{
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.prod-first:hover a.info{
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -19px;
    cursor: pointer;
    z-index: 8040;
    visibility: visible;
}

.fancybox-title-float-wrap .child {
    text-align: left;
    margin: 0 0 34px 49.7%;
    display: inline-block;
    color: #113073;
    line-height: 31px;
    font-size: 18px;
    padding: 1%;
    width: 69vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(237,237,237,1);
    background: rgba(237,237,237,0.9);
    background: -moz-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,0.9)), color-stop(0%, rgba(255,255,255,0.9)), color-stop(0%, rgba(255,255,255,0.9)), color-stop(47%, rgba(246,246,246,0.9)), color-stop(91%, rgba(246,246,246,0.9)), color-stop(100%, rgba(246,246,246,0.01)));
    background: -webkit-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: -o-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: -ms-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: linear-gradient(to right, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f6f6f6', GradientType=1 );
}
/*****/
.fancy-size{
    width: 90%;
    height: auto;
    position: absolute;
    opacity: 1;
    overflow: visible;
    margin: 9% 5% 5% 5%;
}

.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}

.fondo-referencias{
	background-color: #113073;
}

.title-seis{
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #fff;
	border-bottom: solid 2px #911c48;
    width: 100%;
    text-align: center;
}

.contenido-ref{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #fff;
	font-weight: 500;
}

.contenido-ref span{
	font-weight: bold;
}
.margen-r{
	margin-top: 20px;
}

.sep-img-ref{
	margin: 30px 0;
}

.galeria-ref{}

.galeria-ref:hover{
    background-image: url('images/referencias/rojo.png');
}

.imgen-galeria{
    width: 100%;
    height: 20vw;
}
/*seccion 7 contacto*/
.fondo-contacto{
	background-color: #fff;
}

.title-siete{
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #242237;
	border-bottom: solid 2px #8898b9;
    width: 100%;
    text-align: center;
}
.margen-cto{
	margin: 22px 0 30px 0;
}
.campos-cont{
	background-color: transparent;
    border: 1px solid #e3e3e3 !important;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: none;
    text-align: center;
    font-size: 14px;
    color: #555555;
    font-family: 'Montserrat', sans-serif;
}
.textArea{
	height: 130px !important;
	background-color: transparent;
    border: 1px solid #e3e3e3 !important;
    border-radius: 0;
    outline: none;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: none;
    font-size: 14px;
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    resize: none;
}

.btn-contacto{
	margin: 0 10px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-decoration: none;
    color: #fff;
    background-color: #113073;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    width: 100%;
    height: 41px;
    box-shadow: none;
}

.btn-contacto:hover{
	margin: 0 10px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-decoration: none;
    color: #fff;
    background-color: #113073;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    width: 100%;
    height: 41px;
    box-shadow: none;
}

.info-contacto{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
    text-align: left;
    text-transform: capitalize;
}
.img-contato{
	color: #103073;
	margin-top: 19px;
    font-size: 28px;
}
.img-contacto2{
	color: #103073;
	margin-top: 5px;
    font-size: 23px;
}
.img-contato-telefono{
    color: #103073;
    margin-top: 18px;
    font-size: 28px;
}
.minuscula{
	text-transform: lowercase;
}
.invitacion{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 26px;
	color: #bc153a;
	margin: 5px 0 0 0;
    text-align: right;
}

.btn-cv{
	margin: 0 10px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-decoration: none;
    color: #fff;
    background-color: #bc153a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    width: 134px;
    height: 43px;
    box-shadow: none;
}

.btn-cv:hover{
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	border:2px solid #bc153a;
	font-weight: 500;
	text-decoration: none;
    color: #fff;
    background: #bc153a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    width: 134px;
    height: 43px;
    box-shadow: none;
}
.margin50{
	margin:50px 0;
}

.cv-contacto{
    color: #113073;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: solid 1px #113073 !important;
    padding: 10px;
    text-align: center;
    width: 90%;
    margin: 0px;
}
.sinmargen-telefono-div{
    margin: 5px 0;
}

.div-sinpadding{
    margin: 3px 0px;
    padding: 0px !important;
}

/*footer*/
.fondo-fter{
	background-color: #113073;
}

.grupo-fter{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-weight: 300;
}

.info-gen{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.info-gen span{
	border-bottom: solid 2px #fff;
}

.info-footer{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 10px;
	font-weight: 300;
	padding: 0px;
	margin: 20px 0;
}

.info-footer-informacion{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    padding: 0px;
    margin: 20px 0;
}

.info-footer-telefono{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    padding: 0px;
    margin: 20px 0;
}

.blanco{
	color: white;
}

.div-subir{
	z-index: 1;
	border-radius: 50px;
	background-color: #bc153a;
	color: #fff;
	float: right;
	width: 55px;
	height: 55px;
	text-align: center;
	font-size: 40px;
}

.subir{
	bottom: 5px;
    left: 0px;
    position: relative;
}


.margin15{
	margin-bottom: 15px;
}

.margin-foter{
	margin-top: 40px;
}

.icons-footer-separacion{
    margin: 0 5px;
}

.imagenes-logo-footer{
    width: 120px;
    height: 60px;
}

/*mapa*/
#mack-map{
	height: 40vh;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 5px 4px rgba(255,255,255,.1);
	box-shadow: 0px 0px 5px 4px rgba(255,255,255,.1);
	z-index: 1;
}

.mapa-propiedades{
	background: url(images/mapa/ubicacion.svg);
	height: 50px;
	position: relative;
	z-index: 1;
}
/**/
/***************************medias query**************/
@media only screen and (min-width:200px) and (max-width:600px){
.size-logo-menu-uno{
    width: 78px;
    margin-top: 15px;
}

.size-logo-menu-dos{
    width: 63px;
}
/********************footer************************/
.menu-fixed{
    position:fixed;
    z-index:1000;
    top:0;
    width:100%;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
    background-color: #113073;
}

/***menu****/
nav .brand-logo {
    left: 60%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

/*botones slider*/
.slider .indicators{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0px;
    top: 183px;
    margin: 0;
    z-index: 100;
    display: none;
}

/**/
.info-gen {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.info-footer{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

.info-footer-telefono{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}
.grupo-fter {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
}

.info-footer-informacion {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
/*seccion7*/
.invitacion{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    color: #bc153a;
    margin: 0px 0 0 0;
    text-align: center;
}
.margin50{
    margin: 10px 0;
}

.contenido-ref{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.info-contacto{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #666666;
    font-weight: bold;
    text-align: left;
}

.cv-contacto{
    color: #113073;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: solid 1px #113073 !important;
    padding: 5px;
    width: 95%;
    text-align: center;
}

.font-conta a{
    text-decoration: none;
    color:#666666 !important;
}

.img-contato-telefono{
    margin-top: 13px;
    font-size: 28px;
}

.sinmargen-telefono-div{
    margin: 5px 0;
    font-size: 8px;
}

.img-contacto2{
    margin-top: 5px;
}

.img-contato{
    color: #103073;
    margin-top: 10px;
    font-size: 28px;
}

/**obra civil**/
.slider_model .slider_model_box img {
    display: block;
    width: 100%;
    height: 100%;
}
/*
.bx-wrapper .bx-prev {
    left: 10px;
    background: url(images/sliders/izquierda.jpg) no-repeat 0 -32px;
    visibility: hidden;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(images/sliders/derecha.jpg) no-repeat -6px -32px;
    visibility: hidden;
}*/

/**********seccion 6 referencias******/

.fancybox-nav{
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(blank.gif);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 9999;
}

.fancybox-prev span {
    left: 0%;
    background-position: -17px -26px;
}

.fancybox-next span {
    left: 50%;
    background-position: -16px -126px;
}

.producto h2{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 11px;
    padding: 10px;
    margin: 6% 0 0 0;
    text-transform: uppercase;
}

.producto p{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    position: relative;
    color: #fff;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1%;
}

.fondo-referencias{
    background-color: #113073;
    padding: 0px 5px!important;
}
.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: left;
}
.fancybox-title-float-wrap .child{
    text-align: left;
    margin: 0 0 35px 47.7%;
    display: inline-block;
    background-color: #efefef;
    color: #113073;
    line-height: 20px;
    font-size: 11px;
    padding: 1%;
    width: 63vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(237,237,237,1);
    background: rgba(237,237,237,0.9);
    background: -moz-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,0.9)), color-stop(0%, rgba(255,255,255,0.9)), color-stop(0%, rgba(255,255,255,0.9)), color-stop(47%, rgba(246,246,246,0.9)), color-stop(91%, rgba(246,246,246,0.9)), color-stop(100%, rgba(246,246,246,0.01)));
    background: -webkit-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: -o-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: -ms-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: linear-gradient(to right, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f6f6f6', GradientType=1 );
}

.imgen-galeria {
    width: 100%;
    height: 50vw;
}
/****seccion 5 obra civil***/
.pading-select{
    padding: 0px !important;
}

/***********seccion 4 construccion*****/
.texto-sliderizquierdo-title{
    font-size: 8px;
    text-align: left;
    padding-right: 0px;
    padding-left: 4px;
}

.texto-sliderizquierdo-title:hover{
    font-size: 8px;
    color: #bc153a;
    text-align: left;
    padding-right: 0px;
    padding-left: 4px;
}

.content-slider-iz{
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #cecece;
	text-transform: uppercase;
	background-color: #efefef;
	text-align: left;
}

.content-slider-iz:hover{
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #113073;
	text-transform: uppercase;
	background-color: #efefef;
	text-align: left;
}

.imagen-slider-izquierdo-temporal{
    width: 100%;
    height: 30%;
}
/*******seccion 3 geo*****/
.margin-geo{
    margin-top: -17px;
}

.text-slider-derec{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #b1b1b1;
    text-align: center;
    border: solid 1px #e3e3e3;
}

/*sliders**/
.slider .slides li .caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #113073;
    position: absolute;
    top: 80%;
    left: 0%;
    width: 100%;
    background-color: rgba(255,255,255,.7);
    padding-left: 5%;
}
/**/
.slider-fon{
    height: 200px !important;
    touch-action: pan-y;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider-fon ul{
    height: 200px !important;
}

.size-slider-dispo{
    height: 232px !important;
}

/********seccion 2 cuevas***/
.margin-cvas{
    margin-top: 22px;
}

.title-dos{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #242237;
    margin: 0px;
}

.bold{
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    color: #242237;
    font-weight: bold;
    margin: 0 0 28px 0;
}

.title-nuestra{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #242237;
}
.info-secciondos {
    font-size: 12px;
}
/*************seccion 1 inicio*******/
.title-home{
	font-family: 'Droid Serif', serif;
    font-size: 26px;
    font-style: italic;
    color: #fff;
    margin: 0px 0 0 0;
}

.margin-contenido{
    margin-top: 0px;
}

.subtitle{
    font-size: 30px;
}

.separacion-btn2{
    margin: 10px 0;
    text-align: center;
}

.separacion-btn{
    margin: 10px 0;
    text-align: center;
}

.icons-sociales{
    margin-top: 115px;
}

/**/
}

@media only screen and (min-width:600px) and (max-width:992px){
/******/
.size-logo-menu-uno {
    width: 150px;
}

.size-logo-menu-dos {
    width: 116px;
}

/**menu***/
nav .brand-logo {
    left: 55%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.logo-menu {
    width: 280px;
    margin-top: 20px;
}

/*footer*/
.info-footer{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

.grupo-fter{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
}


.info-footer-telefono{
    margin: 0px;
    text-align: left;
}

.info-gen{
    text-align: left;
}

.info-footer-informacion{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}
/**/

/******* seccion 7 contacto*******/
.info-contacto{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    text-align: left;
}

.invitacion{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
    color: #bc153a;
    margin: 5px 0 0 0;
    text-align: center;
}

.cv-contacto{
    color: #113073;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: solid 1px #113073 !important;
    padding: 10px;
    text-align: center;
}

/****REFERENCIAS****/
.producto h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 0px;
    margin: 14% 0 0 0;
}
.producto p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: relative;
    color: #fff;
    padding: 7px 0px 0px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5%;
}

.fancybox-title-float-wrap .child {
    text-align: left;
    margin: 0 0 37px 49.7%;
    display: inline-block;
    color: #113073;
    line-height: 31px;
    font-size: 18px;
    padding: 1%;
    width: 70vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(237,237,237,1);
    background: rgba(237,237,237,0.9);
    background: -moz-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,0.9)), color-stop(0%, rgba(255,255,255,0.9)), color-stop(0%, rgba(255,255,255,0.9)), color-stop(47%, rgba(246,246,246,0.9)), color-stop(91%, rgba(246,246,246,0.9)), color-stop(100%, rgba(246,246,246,0.01)));
    background: -webkit-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: -o-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: -ms-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    background: linear-gradient(to right, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f6f6f6', GradientType=1 );
}


.fancybox-next span {
    right: 0%;
    background-position: -15px -126px;
}

.fancybox-prev span {
   left: 0%;
    background-position: -17px -26px;
}

/******obra civil*****/
element.style {
    display: none;
}
.slider_model .slider_model_box img{
    display: block;
    width: 100%;
    height: 100%;
}

.slider_model .model_ctrl_tools a{
    top: 27%;
}

/*******seccion 4 contruccion****/
.texto-sliderizquierdo-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #113073;
    text-transform: uppercase;
    text-align: left;
    padding-right: 0px;
}

/***********seccion 3 geoternica*************/
.text-slider-derec{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #b1b1b1;
    text-align: right;
    border: solid 1px #e3e3e3;
    padding-left: 0px !important;
}

/********seccion 2 nuestra empresa****/
.title-dos{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #242237;
    margin-bottom: 0px;
}

.bold{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #242237;
    font-weight: bold;
    margin: 0px;
}

/****seccion 1 inicio*****/
.margin-contenido{
    margin-top: 160px;
}

.icons-sociales{
    margin-top: 350px;
}

/*******menu***********/
.separacion-menu{
    margin-left: 30px;
    margin-top: 26px;
}

}

@media only screen and (min-width:600px) and (max-width:1024px){
    /*****seccion 2****/
.bold {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #242237;
    font-weight: bold;
    margin: 10px 0;
}

.texto-sliderizquierdo-title{
    font-size: 8px;
    padding: 0 9% 0 5px;
}

.texto-sliderizquierdo-title:hover{
    font-size: 8px;
}

.content-slider-iz{
    font-size: 14px;
}

.content-slider-iz:hover{
    font-size: 14px;
}

/****footer***/
.info-footer-telefono {
    margin: 0px;
}

.info-footer {
    margin: 0px 0;
}

.imagenes-logo-footer{
    width: 140px;
    height: 60px;
}

/**********seccion 1******/
.margin-contenido {
    margin-top: 90px;
}

}

@media only screen and (min-width:600px) and (max-width:1200px){
/************ seccion 5obra civil*************/

/*****menu****/
.display-menu{
    display: inline-block;
    font-weight: bold;
    margin: 0px 8px;
}
/****seccion 3 geotecnica ********/
.text-slider-derec{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #b1b1b1;
    text-align: right;
    border: solid 1px #e3e3e3;
}

}

@media only screen and (min-width:1200px) and (max-width:1800px){
   /*****menu****/
.display-menu{
    display: inline-block;
    font-weight: bold;
    margin: 0px 11px;
}

}
@media only screen and (min-width:800px) and (max-width:1280px){
.logo-principal{
    width: 50%;
}

}
/***apple ipad***/
@media only screen and (min-width:768px) and (max-width:1024px){
/***secion 2****/
.bold {
    font-size: 14px;
}

.text-slider-derec {
    font-size: 14px;
}

.texto-sliderizquierdo-title{
    font-size: 14px;
}

.texto-sliderizquierdo-title:hover{
    font-size: 14px;
}

.imagen-slider-izquierdo-temporal{
    width: 100%;
    height: 50%;
}

.imagen-obra-civil{
    width: 80px;
    height: 80px;
}

.font-home{
    font-size: 10px;
}

.contenido-ref{
    font-size: 12px;
}

.img-contato{
    margin-top: 14px;
    font-size: 28px;
}

.img-contacto2{
    margin-top: 10px;
}

.texto-sliderizquierdo-title{
    font-size: 17px;
}

.texto-sliderizquierdo-title:hover{
    font-size: 17px;
}

/*****inicio***/
.subtitle{
    margin: 0px 0;
}

.title-home{
    margin: 92px 0 0 0;
}

/*menu*/
.menu-var{
    background-color: transparent;
    color: transparent;
    margin-top: 20px;
}

}

/*******ifon 5*****/
@media only screen and (min-width:320px) and (max-width:568px){

.logo-menu{
   width: 190px;
}

.bold {
    font-size: 8px;
}

.imagenes-logo-footer {
    width: 120px;
    height: 60px;
}

}

@media only screen and (min-width:768px) and (max-width:1366px){
/***menu***/
.display-menu {
    display: inline-block;
    font-weight: bold;
    margin: 0px 18px;
}

.logo-principal {
    width: 200px;
}

}

@media only screen and (min-width:900px) and (max-width:1440px){
/*menu*/
.logo-principal {
    width: 160px;
    margin-top: 10px;
}

.display-menu {
    display: inline-block;
    font-weight: bold;
    margin: 0px;
}

.menu-var {
    background-color: transparent;
    color: transparent;
    margin-top: 22px;
}

}

/****************************MEDIAS JRG*****************************/

@media only screen and (min-width:768px) and (max-width:992px){

.side-nav a {
    padding: 0 16px;
    color: #fff;
    text-transform: uppercase ;
}
.side-nav a:hover {
    padding: 0 16px;
    color: #e0d7d7;
    text-transform: uppercase ;
}

}

@media only screen and (min-width:600px) and (max-width:768px){

.side-nav a {
    padding: 0 16px;
    color: #fff;
    text-transform: uppercase ;
}
.side-nav a:hover {
    padding: 0 16px;
    color: #e0d7d7;
    text-transform: uppercase ;
}

}

@media only screen and (min-width:200px) and (max-width:600px){

.side-nav a {
    padding: 0 16px;
    color: #fff;
    text-transform: uppercase ;
}
.side-nav a:hover {
    padding: 0 16px;
    color: #e0d7d7;
    text-transform: uppercase ;
}

}
