/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 8020;
	width: 70% !important;
    left: 0px !important;
    margin: 1% 15% !important;
}

.fancybox-skin {
	position: relative;
	background: transparent;
	/*color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	padding: 0px !important;*/
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	padding: 0px !important;
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
	width: 100% !important;
    height: 100% !important;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(control.png);
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url(fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 5%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url(blank.gif); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 27px;
	height: 57px;
	margin-top: -36px;
	cursor: pointer;
	z-index: 8040;
	visibility: visible !important;
}

.fancybox-prev span {
	left: -60px;
	background-position: -16px -26px;
}

.fancybox-next span {
	right: -60px;
	background-position: -16px -125px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url(fancybox_overlay.png);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	text-align: left;	
    margin: 0 0 35px 49.7%;
    display: inline-block;
    background-color: #efefef;
    color: #113073;
    line-height: 40px;
    font-size: 32px;
    padding: 1%;
    width: 69vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
	text-transform: uppercase;
	background: rgba(237,237,237,1);
background: rgba(237,237,237,0.9);
background: -moz-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,0.9)), color-stop(0%, rgba(255,255,255,0.9)), color-stop(0%, rgba(255,255,255,0.9)), color-stop(47%, rgba(246,246,246,0.9)), color-stop(91%, rgba(246,246,246,0.9)), color-stop(100%, rgba(246,246,246,0.01)));
background: -webkit-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
background: -o-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
background: -ms-linear-gradient(left, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
background: linear-gradient(to right, rgba(237,237,237,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 0%, rgba(246,246,246,0.9) 47%, rgba(246,246,246,0.9) 91%, rgba(246,246,246,0.01) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f6f6f6', GradientType=1 );
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url(control.png);
	    background-size: 58px 204px;
	}

	#fancybox-loading div {
		background-image: url(fancybox_loading@2x.gif);
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}